<%- include("../../shared/head") %>
    <title>Contact | Plankcooking.com</title>
<%- include("../../shared/header") %>
<main class="contact__wrapper container-fluid p-0">
    <section class="container text-center m-0 p-0">
      <section class="dropdown d-inline-block">
        <div class="dropdown__wrapper">
            <a href="/Contact/" class="btn about__dropdown__button text-light px-5 my-4">
                <h3 class="mx-5">Contact Us</h3>
            </a>
        </div>
      </section>
      <section class="contact__content__wrapper mt-3">
                  
            <div class="contact__content mx-4 mt-5">
                <div class="contact__border__wrapper">
                    <h5 class="text-left m-0 p-0 col-7">
                        CONTACT US
                    </h5>
                </div>
                <div class="contact__main__content d-flex flex-column m-0 p-0">
                    <p class="text-left mx-2">
                        You can contact us one of two ways; click one of the email links below to send us an email, or call the customer service number.
                    </p>
                    <p class="text-left mx-2 m-0 p-0">
                        CUSTOMER SERVICE:
                    </p>
                    <p class="text-left mx-2 m-0 p-0">
                        <a href="mailto:ChefHowie@plankcooking.com">
                            ChefHowie@plankcooking.com
                        </a>
                    </p>
                    <p class="text-left mx-2 m-0 p-0">
                        Phone: 425.881.0422
                    </p>
                    <p class="text-left mx-2 mb-2 m-0 p-0">
                        Fax: 425.881.7338
                    </p>
            </div>  
            <p class="contact__footer__content text-left mx-2">
                WHOLESALE OPPORTUNITIES are available, please contact customer service for more information.
            </p> 
        </div>
    </section>
    </section>
  </main>

<%- include("../../shared/footer") %>