<%- include("../../shared/head") %>
    <title>Policies | Plankcooking.com</title>
<%- include("../../shared/header") %>
<main class="contact__wrapper container-fluid p-0">
    <section class="container text-center m-0 p-0">
      <section class="dropdown d-inline-block">
        <div class="dropdown__wrapper mt-5">
            <img src="/img/Policies_MenuHeader.png" alt="Policies">
            <div class="policies__links">
                <a href="/Policies/">
                    TERMS OF USE
                    <img src="/img/Menu_arrow.png" alt="Arrow">
                </a>
                <a href="/Policies/ReturnPolicy">RETURN POLICY</a>
                <a href="/Policies/PrivacyPolicy">PRIVACY POLICY</a>
            </div>
        </div>
      </section>
      <section class="contact__content__wrapper mt-3">
                  
            <div class="contact__content mx-4 mt-5">
                <div class="contact__border__wrapper">
                    <h5 class="text-left m-0 p-0 pb-1 mb-1 col-5">
                        Return Policy
                    </h5>
                </div>
                <div class="policies__main__content d-flex flex-column m-0 p-0">
                    <p class="text-center mx-2">
                        Any unopened or un-used product purchased on plankcooking.com can be returned within 14 days for a full product refund.
                    </p>
                    <p class="text-center mx-2">
                        No opened or used products can be returned with the exception of a defective product. Defective products returned after 
                        14 days will be given a store credit, or the product will be replaced.
                    </p>
                    <p class="text-center mx-2">
                        Any return items must be sent to the following address at the purchasers cost.
                    </p>
                    <p class="text-center mx-2 m-0 p-0">
                        Howie Enterprises, LLC
                    </p>
                    <p class="text-center mx-2 m-0 p-0">
                        dba: plankcooking.com
                    </p>
                    <p class="text-center mx-2 m-0 p-0">
                        17418 NE 138th St.
                    </p>
                    <p class="text-center mx-2 m-0 p-0">
                        Redmond, WA 98052
                    </p>
                    <p class="text-center mx-2">
                        plankcooking.com will reimburse the USPS parcel post ground shipping costs for all defective 
                        products returned to the address above. Original shipping costs are not reimbursable, with an 
                        exception for defective products. Original shipping cost will either be issued as a store credit, 
                        or used to ship the replacement product.
                    </p>
                    <p class="text-center mx-2">
                        All returned items must include purchase receipt, with order number, and costs.
                    </p>
                    <p class="text-center mx-2">
                        All returns should be shipped with original packaging materials, but it is not required.
                    </p>
                </div> 
        </div>
    </section>
    </section>
  </main>

<%- include("../../shared/footer") %>