<%- include("../../shared/head") %>
    <title>Reviews | Plankcooking.com</title>
<%- include("../../shared/header") %>
<main class="reviews__wrapper container-fluid p-0">
    <section class="container text-center m-0 p-0">
      <section class="dropdown d-inline-block">
          <div class="dropdown__wrapper">
            <button class="btn about__dropdown__button text-light dropdown-toggle px-5 my-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h3>Reviews</h3>
                &AMP; Testimonials
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/Reviews/">PRESS REVIEWS</a>
              <a class="dropdown-item" href="/Reviews/Testimonials">TESTIMONIALS</a>
          </div>
        </div>
      </section>
      <section class="reviews__content__wrapper mt-3">
          <div class="reviews__double__content m-0">
            <div class="reviews__double__first col-7">
                <img src="/img/JHandMartha_photo.png" alt="John Howie" />
            </div>
            <div class="reviews__double__second mt-3">
                <h5>
                    JOHN HOWIE & PLANK COOKING
                    ON MARTHA STEWART LIVING
                </h5>
                <p>
                    "Delicious. This is a very unusual and tasty, tasty appetizer!"
                </p>
                <p>
                    "I think we should all try plank cooking."               
                </p>
                <p>
                    Martha Stewart - Martha Stewart Living Television Show             
                </p>
            </div>
          </div>        
            <div class="reviews__content mx-4">
                <div class="reviews__border__wrapper">
                    <h5 class="text-left m-0 pl-5 p-0 col-7">
                        SIMPLY SEAFOOD MAGAZINE &COPY;
                    </h5>
                </div>
                <div class="reviews__main__content d-flex m-0 p-0">
                    <div class="reviews__content__first">
                    <p class="mx-2">
                        "Guests will delight in the delectable fragrance of salmon mingled with the aroma of the heated plank."
                    </p>
                    <p class="mx-2">
                        Simply Seafood Magazine
                    </p>
                </div>
                <div class="reviews__content__second">
                    <img src="/img/SimplySeafood_logo.png" alt="Simply Seafood Logo">
                </div>
            </div>   
        </div>
    </section>
    </section>
  </main>

<%- include("../../shared/footer") %>