<%- include("../../shared/head") %>
    <title>Reviews | Plankcooking.com</title>
<%- include("../../shared/header") %>
<main class="reviews__wrapper container-fluid p-0">
    <section class="container text-center m-0 p-0">
      <section class="dropdown d-inline-block">
          <div class="dropdown__wrapper">
            <button class="btn about__dropdown__button text-light dropdown-toggle px-5 my-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h3>Reviews</h3>
                &AMP; Testimonials
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/Reviews/">PRESS REVIEWS</a>
              <a class="dropdown-item" href="/Reviews/Testimonials">TESTIMONIALS</a>
          </div>
        </div>
      </section>
      <section class="testimonials__content__wrapper mt-3">
            <div class="testimonials__content mx-4 mt-5">
                <div class="testimonials__main__content m-0 p-0">
                    <div class="testimonials__content__first">
                        <p class="text-left mx-2">
                            “I must tell you I’m very impressed with the 
                            prompt delivery of the four planks I ordered on December 
                            4th and received on December 7th. My husband and I have thoroughly 
                            enjoyed our own plank and have experimented quite a bit. I probably 
                            cook on it twice a week. Thanks for the great service."
                        </p>
                        <p class="text-left mx-2">
                            -Becky C
                        </p>
                    </div>
                    <div class="testimonials__content__first">
                        <p class="text-left mx-2 mt-2">
                            "Last night, I used your dry herb rub for salmon to enhance the 
                            flavor of shrimp. My husband and I enjoyed the flavors that both 
                            the cedar plank and herb rub gave the shellfish. But the added 
                            benefit was the woodsy aroma throughout the house. It brought me 
                            back to my Vermont days, with a wood burning fire place."
                        </p>
                        <p class="text-left mx-2">
                            -A. Cardello
                        </p>
                </div>
                <div class="testimonials__content__last">
                    <p class="text-left mx-2 mt-2">
                        "Thank you for a great product. We use it all the time. It might even 
                        keep us away from your restaurant since we can make our own great meals!"
                    </p>
                    <p class="text-left mx-2">
                        -Kyle Ohashi
                    </p>
                </div>   
    </section>
    </section>
  </main>

<%- include("../../shared/footer") %>