<link rel="stylesheet" href="/css/global.css" />
<link rel="stylesheet" href="/css/index.css" />
<link rel="stylesheet" href="/css/about.css" />
<link rel="stylesheet" href="/css/shop.css" />
<link rel="stylesheet" href="/css/cart.css" />
<link rel="stylesheet" href="/css/reviews.css" />
<link rel="stylesheet" href="/css/recipes.css" />
<link rel="stylesheet" href="/css/contact.css" />
<link rel="stylesheet" href="/css/policies.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />

</head>
<body class="container-fluid m-0 p-0">
  <section class="outside__header__wrapper m-0 p-0">
    <a href="/">
      <img
        src="/img/PC_LogoHeader_Home.png"
        alt="Home Logo"
        class="outside__header__logo"
      />
    </a>
    <a href="/Cart/Cart">
      <img
        src="/img/Cart_Button_main.png"
        alt="Cart Button"
        class="outside__header__cart"
      />
    </a>

  </section>
  <header class="w-100 m-0 p-0">
    <nav class="navbar navbar-expand-md navbar-inverse m-0 p-0">
      <div class="inside__header__wrapper p-0" id="toggleDisplay">
        <a class="inside__header__logo m-0 p-0" href="/">
          <img src="/img/PC_LogoHeader_Home.png" alt="Logo Header">
        </a>
        <a class="inside__header__cart" href="/Cart/Cart">
          <img src="/img/Cart_Button_main.png" alt="Logo Header">
        </a>
      </div>
      <div class="toggler__wrapper">
        <a class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" style="background-color: #22190f;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar1"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/About">About<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Shop/Products">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Reviews">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Recipes">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
