<%- include("../shared/head") %>
<title>Home | Plankcooking.com</title>
<%- include("../shared/header") %>
<main class="home__wrapper p-0">
  <section class="container m-0 p-0">
    <section class="home__rotator__wrapper">
      <img
        src="/img/HomePg_Rotator_image1a.png"
        alt="Home-Rotator"
        class="home__rotator"
      />
    </section>
    <section class="home__cubes__wrapper">
        <a href="/Shop/SpiceRubs">
          <img src="/img/SpiceRubs_cube.png" alt="SpiceRubs" />
        </a>
        <a href="/Shop/BakingPlanks">
          <img src="/img/BakingPlanks_cube.png" alt="BakingPlanks" />
        </a>
        <a href="/Shop/Cookbooks">
          <img src="/img/Cookbooks_cube.png" alt="Cookbooks" />
        </a>
        <a href="/Shop/BBQPlanks">
          <img src="/img/BBQ_Planks_cube.png" alt="BBQ_Planks" />
        </a>
        
    </section>
    <div>
          <img src="/img/FooterPlank.png" alt="Home-Rotator" class="home__footer__plank" />
        </div>
  </section>
</main>

<%- include("../shared/footer") %>
