<%- include("../../shared/head") %>
    <title>Cart | Plankcooking.com</title>
<%- include("../../shared/header") %>
<main class="cart__wrapper container-fluid p-0">
    <section class="container text-center m-0 p-0">
      <section class="cart__content__wrapper mt-3">                  
            <div class="cart__content mx-4 mt-5 w-100">
                <div class="cart__info__border__wrapper p-2 m-0">
                    <div class="cart__info__description col-12 m-0 p-0">
                        <p class="text-center p-0 m-0">
                            Order Receipt > Step 4 of 4
                        </p>   
                    </div>        
                </div>
                <div class="cart__content__main__wrapper m-0 mt-1 p-2 pt-3">

                    <div class="cart__main__content__description m-0 p-0">
                        <div class="cart__header__billing col-12 p-1">
                            <p class="text-center p-0 m-0">
                                Billing Address 
                            </p>    
                        </div>  
                    </div>

                    <div class="cart__main__content__item m-0 p-0">

                        <div class="cart__info__billing__outputs col-12 m-0 p-0 pl-1">

                            <div class="cart__billing__output d-flex justify-content-end align-items-center">
                                <div class="d-flex col-3 m-0 p-0">
                                    <p class="text-right w-100 m-0 p-0 pr-2">
                                        Name:
                                    </p>
                                </div>
                                <div class="d-flex col-9 m-0 p-0">
                                    <p class="text-left w-100 m-0 p-0">
                                        Eric Craigen
                                    </p>
                                </div>
                            </div>

                            <div class="cart__billing__output d-flex justify-content-end align-items-center">
                                <div class="d-flex col-3 m-0 p-0">
                                    <p class="text-right w-100 m-0 p-0 pr-2">
                                        Address:
                                    </p>
                                </div>
                                <div class="d-flex col-9 m-0 p-0">
                                    <p class="text-left w-100 m-0 p-0">
                                        1823 N. Nelson St
                                    </p>
                                </div>
                            </div>

                            <div class="cart__billing__output d-flex justify-content-end align-items-center">
                                <div class="d-flex col-3 m-0 p-0">
                                </div>
                                <div class="d-flex col-9 m-0 p-0">
                                    <p class="text-left w-100 m-0 p-0">
                                        Spokane, WA 99207
                                    </p>
                                </div>
                            </div>

                            <div class="cart__billing__output d-flex justify-content-end align-items-center">
                                <div class="d-flex col-3 m-0 p-0">
                                    <p class="text-right w-100 m-0 p-0 pr-2">
                                        Phone:
                                    </p>
                                </div>
                                <div class="d-flex col-9 m-0 p-0">
                                    <p class="text-left w-100 m-0 p-0">
                                        5092942930
                                    </p>
                                </div>
                            </div>

                            <div class="cart__billing__output d-flex justify-content-end align-items-center">
                                <div class="d-flex col-3 m-0 p-0">
                                    <p class="text-right w-100 m-0 p-0 pr-2">
                                        Email:	
                                    </p>
                                </div>
                                <div class="d-flex col-9 m-0 p-0">
                                    <p class="text-left w-100 m-0 p-0">
                                        eric.craigen.cd@gmail.com
                                    </p>
                                </div>
                            </div>

                        </div>  
                          
                    </div>

                    <div class="cart__preview__shipping m-0 p-0">
                        <div class="cart__shipping__header col-12 p-1">
                            <p class="text-center p-0 m-0 w-100">
                                Shipping Address 
                            </p>    
                        </div>  
                    </div>

                    <div class="cart__main__content__item m-0 p-0">

                        <div class="cart__info__billing__outputs col-12 m-0 p-0 pl-1">

                            <div class="cart__billing__output d-flex justify-content-end align-items-center">
                                <div class="d-flex col-3 m-0 p-0">
                                    <p class="text-right w-100 m-0 p-0 pr-2">
                                        Name:
                                    </p>
                                </div>
                                <div class="d-flex col-9 m-0 p-0">
                                    <p class="text-left w-100 m-0 p-0">
                                        Eric Craigen
                                    </p>
                                </div>
                            </div>

                            <div class="cart__billing__output d-flex justify-content-end align-items-center">
                                <div class="d-flex col-3 m-0 p-0">
                                    <p class="text-right w-100 m-0 p-0 pr-2">
                                        Address:
                                    </p>
                                </div>
                                <div class="d-flex col-9 m-0 p-0">
                                    <p class="text-left w-100 m-0 p-0">
                                        1823 N. Nelson St
                                    </p>
                                </div>
                            </div>

                            <div class="cart__billing__output d-flex justify-content-end align-items-center">
                                <div class="d-flex col-3 m-0 p-0">
                                </div>
                                <div class="d-flex col-9 m-0 p-0">
                                    <p class="text-left w-100 m-0 p-0">
                                        Spokane, WA 99207
                                    </p>
                                </div>
                            </div>

                            <div class="cart__billing__output d-flex justify-content-end align-items-center">
                                <div class="d-flex col-3 m-0 p-0">
                                    <p class="text-right w-100 m-0 p-0 pr-2">
                                        Phone:
                                    </p>
                                </div>
                                <div class="d-flex col-9 m-0 p-0">
                                    <p class="text-left w-100 m-0 p-0">
                                        5092942930
                                    </p>
                                </div>
                            </div>

                            <div class="cart__billing__output d-flex justify-content-end align-items-center">
                                <div class="d-flex col-3 m-0 p-0">
                                    <p class="text-right w-100 m-0 p-0 pr-2">
                                        Email:	
                                    </p>
                                </div>
                                <div class="d-flex col-9 m-0 p-0">
                                    <p class="text-left w-100 m-0 p-0">
                                        eric.craigen.cd@gmail.com
                                    </p>
                                </div>
                            </div>


                            
                        </div>  
                          
                    </div>

                        <div class="cart__main__content__description m-0 p-0 mt-4">
                            <div class="cart__info__description col-6 p-1">
                                <p class="text-center p-0 m-0">
                                    Shipping to You 
                                </p>    
                            </div>  
                            <div class="cart__info__description__two col-2 m-0 p-0">
                                <p class="text-center p-0 m-0">
                                    Price
                                </p>    
                            </div>  
                            <div class="cart__info__description__two col-2 m-0 p-0">
                                <p class="text-center p-0 m-0">
                                    Quantity
                                </p>    
                            </div>
                            <div class="cart__info__description__two col-2 m-0 p-0">
                                <p class="text-center p-0 m-0">
                                    Total
                                </p>    
                            </div>     
                        </div>

                        <div class="cart__main__items__list m-0 p-0">
                            <div class="cart__list__item col-6 p-1">
                                <p class="text-center p-0 m-0">
                                    Ancho Chili Rub 
                                </p>    
                            </div>  
                            <div class="cart__list__item__two col-2 m-0 p-0">
                                <p class="text-center p-0 m-0">
                                    $6.00
                                </p>    
                            </div>  
                            <div class="cart__list__item__two col-2 m-0 p-0">
                                <p class="text-center p-0 m-0">
                                    1
                                </p>    
                            </div>
                            <div class="cart__list__item__two col-2 m-0 p-0">
                                <p class="text-center p-0 m-0">
                                    $6.00
                                </p>    
                            </div>     
                        </div>

                        <div class="cart__main__items__list m-0 p-0">
                            <div class="cart__list__item col-6 p-1">
                                <p class="text-center p-0 m-0">
                                    Passion & Palate 
                                </p>    
                            </div>  
                            <div class="cart__list__item__two col-2 m-0 p-0">
                                <p class="text-center p-0 m-0">
                                    $42.00
                                </p>    
                            </div>  
                            <div class="cart__list__item__two col-2 m-0 p-0">
                                <p class="text-center p-0 m-0">
                                    1
                                </p>    
                            </div>
                            <div class="cart__list__item__two col-2 m-0 p-0">
                                <p class="text-center p-0 m-0">
                                    $42.00
                                </p>    
                            </div>     
                        </div>

                    <div class="cart__preview__subtotal__io m-0 p-0">
                        <div class="cart__item__subtotal col-8 p-1">
                        </div>  
                        <div class="cart__item__subtotal__two col-2 m-0 p-0">
                            <p class="text-right p-0 m-0 mr-1">
                                Subtotal:
                            </p>    
                        </div>
                        <div class="cart__info__subtotal__two col-2 m-0 p-0">
                            <p class="text-center p-0 m-0">
                                $48.00
                            </p>    
                        </div>     
                    </div>

                    <div class="cart__preview__subtotal__io m-0 p-0">
                        <div class="cart__item__subtotal col-8 p-1">
                        </div>  
                        <div class="cart__item__subtotal__two col-2 m-0 p-0">
                            <p class="text-right p-0 m-0 mr-1">
                                Tax:
                            </p>    
                        </div>
                        <div class="cart__info__subtotal__two col-2 m-0 p-0">
                            <p class="text-center p-0 m-0">
                                $2.00
                            </p>    
                        </div>     
                    </div>

                    <div class="cart__preview__subtotal__io m-0 p-0">
                          
                        <div class="cart__item__subtotal__two col-10 d-flex align-items-center justify-content-end m-0 p-0 pr-1">
                            <p class="m-0 p-0">Shipping & Handling:</p>   
                        </div>
                            
                    </div>

                    <div class="cart__preview__subtotal__io m-0 p-0 pb-3">
                          
                        <div class="cart__item__subtotal__two col-10 d-flex align-items-center justify-content-end m-0 p-0 pr-1">
                            <p class="m-0 p-0">U.S.P.S. Priority (2 - 4 days)</p>   
                        </div>
                        <div class="cart__info__subtotal__two col-2 m-0 p-0">
                            <p class="text-center p-0 m-0">
                                $11.10
                            </p>    
                        </div>     
                    </div>

                    <div class="cart__preview__subtotal__io__last m-0 p-0 pb-2">
                        <div class="cart__item__subtotal col-8">
                        </div>  
                        <div class="cart__item__subtotal__two col-2 m-0 p-0">
                            <p class="text-right p-0 m-0 mr-1">
                                Total:
                            </p>    
                        </div>
                        <div class="cart__info__subtotal__two col-2 m-0 p-0">
                            <p class="text-center p-0 m-0">
                                $61.10
                            </p>    
                        </div>     
                    </div>

                    <p class="w-100 text-right">*Shipping durations are estimates and not a guarantee</p>

                    <div class="cart__main__content__description m-0 p-0 mt-4">
                        <div class="cart__info__description col-12 p-1">
                            <p class="text-center p-0 m-0">
                                Payment Information 
                            </p>    
                        </div>       
                    </div>

                    <div class="cart__payment__input d-flex justify-content-end align-items-center py-1">
                        <div class="d-flex col-3 m-0 p-0">
                            <p class="text-right w-100 m-0 p-0 pr-2">
                                Confirmation Code:
                            </p>
                        </div>
                        <div class="d-flex col-9 m-0 p-0">
                            <p class="text-left w-100 m-0 p-0 pr-2">
                                99207-405254744454411
                            </p>
                        </div>
                    </div>
                    <div class="cart__payment__output__last d-flex justify-content-end align-items-center py-1">
                        <div class="d-flex col-3 m-0 p-0">
                            <p class="text-right w-100 m-0 p-0 pr-2">
                                Card Number:
                            </p>
                        </div>
                        <div class="d-flex col-9 m-0 p-0">
                            <p class="text-left w-100 m-0 p-0 pr-2">
                                VISA XXXXX&#11036;
                            </p>
                        </div>
                    </div>

                </div>

        </div>
    </section>
    </section>
  </main>

<%- include("../../shared/footer") %>